/* CareerEnquiry Index.js  Page */

.customColumn {
  display: flex;
  justify-content: space-between;
  padding-right: 0 !important;
}

.divDivision {
  width: 19%;
  margin: 12px 0;
}

.listCareerEnquiries {
  border: 1px solid rgb(197, 199, 205);
  border-radius: 15px;
  padding: 10px 25px;
}

.careerEnquiries {
  display: flex;
  justify-content: space-between;
  overflow: visible !important;
  margin-bottom: 12px;
}

.careerEnquirieSub {
  display: flex;
  align-items: flex-end;
}

.careerEnquirieSub h4 {
  font-family: var(--Poppins);
  font-size: 20px;
  line-height: 36px;
}

.formCareerEnquiries {
  justify-content: space-between;
  display: flex;
  width: 30%;
}

.formCareerEnquirieSub1 {
  width: 65%;
}

.formCareerEnquirieSub2 {
  width: 32%;
  display: flex;
  align-items: flex-end;
}


.popForm {
  padding: 15px 15px 10px 15px;
}

.popFormGroup {
  display: flex;
  margin-top: 12px;
}

.popFormRadioButton input[type="radio"]:checked {
  background-color: var(--theme-color) !important;
  /* background: #1C4E80 !important; */
}

.iconView {
  font-size: 25px;
  color: var(--theme-color);
  margin-left: 10px;
  cursor: pointer;
}

/* CareerEnquiry CarView  Page */
.cardview {
  border: 1px solid #c5c7cd;
  border-radius: 10px;
  padding: 10px 30px;
}

.tabsContent {
  border-bottom: none !important;
  width: 100%;
  margin-bottom: 25px !important;
  padding-left: 45px !important;
}


.tabsContent li button {
  border: 1px solid var(--theme-color) !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  font-family: var(--Poppins);
  color: #333333;
}

.backToCareer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;
}

.backToCareerIcon {
  font-size: 22px;
  margin-right: 5px;
  color: var(--theme-color);
}

.backToCareer span {
  font-family: var(--Poppins);
  font-size: 14px;
  letter-spacing: 0.2px;
}






















/* CareerEnquiry CarView  Page */
.cardview {
  border: 1px solid #c5c7cd;
  border-radius: 10px;
  padding: 10px 30px;
}

.tabsContent {
  border-bottom: none !important;
  width: 100%;
  margin-bottom: 25px !important;

}

.tabsContent li {
  margin: 0 10px 0 0;
}

.tabsContent li button {
  border: 1px solid var(--theme-color) !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  font-family: var(--Poppins);
  color: #333333;
  padding: 10px 0 !important;
}

.backToCareer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;
}

.backToCareerIcon {
  font-size: 22px;
  margin-right: 5px;
  color: var(--theme-color);
}

.backToCareer span {
  font-family: var(--Poppins);
  font-size: 14px;
  letter-spacing: 0.2px;
}

.customColumn {
  display: flex;
  padding-right: 0 !important;
  gap: 13px;
}

.divDivision {
  width: 23%;
}

.divDivision1 {
  width: 23%;
  display: flex;
  align-items: end;
  margin-bottom: 15px;
}


.actionIcon {
  font-size: 25px;
  margin-right: 5px;
  color: var(--theme-color);
  cursor: pointer;
}

.signInLoader {
  font-size: 15px;
  width: 20px !important;
  height: 20px !important;
}

.permissionDivision {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.permissionDivision input {
  width: 73%;
}

.permissionDivision button {
  width: 25%;
  background: var(--theme-color);
  ;
}

.colPermissions {
  width: 35%;
  padding: 0 !important;
}

.divPermissions {
  height: 378px;
  overflow-y: auto;
}

.divPermissions::-webkit-scrollbar {
  width: 5px;
}

.divPermissions::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.divPermissions::-webkit-scrollbar-thumb {
  background: var(--theme-color);
  border-radius: 10px;
}

.divPermissions div:nth-child(odd) {
  padding: 10px;
  background: var(--table-bg);
  cursor: pointer;
  min-height: 62px;
}

.divPermissions .newDiv {
  cursor: auto !important;
}

.divPermissions div:nth-child(even) {
  padding: 10px;
  background: var(--light-white);
  cursor: pointer;
  min-height: 62px;
}

.divPermissions div h5 {
  font-size: 14px;
  margin-bottom: 5px !important;
  padding-left: 7px;
}

.divPermissions div h6 span {
  background: transparent !important;
  font-size: 12px;
  color: var(--theme-color);
}

.ulModules {
  list-style: none;
  padding: 0 10px;
}

.ulModules li input {
  margin-right: 10px;
}

.active {
  background: var(--theme-color) !important;
  color: white !important;
}

.active h6 span {
  color: white !important;
}