.userProfile,
.editProfileDetails {
    padding: 20px 30px 30px;
    margin-bottom: 15px;
}

.userImg {
    position: relative;
    width: 175px;
    margin: 0 auto;
}

.userImg img {
    border-radius: 50%;
    width: 175px;
    object-fit: cover;
}

.uploadBox {
    position: absolute;
    top: 0;
    right: 0;
}

.uploadINputfile {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}



.uploadBtn {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    font-size: 22px;
    border: 4px solid white;
    color: var(--dark-blue);
    cursor: pointer;
    padding: 0px 0 2px 5px;
    box-shadow: 3px 1px 7px #ccc;
    transition: all 0.3s ease;
}

.uploadBtn:hover {
    box-shadow: 3px 1px 25px #ccc;
}

.customColumn {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 12px 30px;
}

.saveChanges {
    grid-column: 2/3;
    display: flex;
    justify-content: end;
}

.saveChanges button {
    width: 30% !important;
    background: var(--theme-color) !important;

}

.NavTabHeight {
    height: 85vh !important;
}





/* ////// chooseBranch */

.adminSubSection1 div {
    border: 1px solid black;
    width: 150px;
    padding: 10px 15px;
}

.adminSubSection1 {
    display: flex;
    gap: 12px;
}

.cardboardActive {
    background: var(--theme-color) !important;
    color: white !important;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgb(82 63 105 / 5%);
    border: 2px solid #0e467e54;
    margin-bottom: 15px;
}

.cardboard {
    background-color: #fff;
    transition: all .5s ease-in-out;
    border: 2px solid #0e467e54;
    border-radius: 10px;
    box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgb(82 63 105 / 5%);
    margin-bottom: 15px;
}

.cardboardActive:hover,
.cardboard:hover {
    box-shadow: 0 1.188rem 1.188rem rgb(25 36 78 / 29%) !important;
}


.cardboard:hover .booking-status span i {
    background: var(--theme-color);
    color: #ffffff;
}

.cardboardBody {
    padding: 22px;
}

.cardboardActive .iconMd {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: var(--theme-color);
    border-radius: 10px;
}

.cardboard .iconMd {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--theme-color);
    color: white;
    border-radius: 10px;
}

.iconBranch {
    font-size: 28px;
    ;
}

.cardboard .textStyles,
.cardboardActive .textStyles {

    font-weight: bold;
    font-size: 16px;
    font-family: var(--Mulish);

}

.cardboard .textStyles {
    color: #808191;
}

.cardboardActive .textStyles {
    color: white;
}

.mainHeader {
    font-family: var(--Poppins);
    font-size: 22px;
    line-height: 50px;
    color: #808191;
    font-weight: bold;
}