.custContainer {
    padding-right: 0 !important;
    width: 100% !important;
    overflow-x: hidden;
}

.custRow {
    width: 100% !important;
    margin: 0 !important;
}

.custColumn {
    padding: 0 !important
}