/* CareerEnquiry CarView  Page */
.cardview {
    border: 1px solid #c5c7cd;
    border-radius: 10px;
    padding: 10px 30px;
}

.tabsContent {
    border-bottom: none !important;
    width: 100%;
    margin-bottom: 25px !important;

}

.tabsContent li {
    margin: 0 10px 0 0;
}

.tabsContent li button {
    border: 1px solid var(--theme-color) !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    font-family: var(--Poppins);
    color: #333333;
    padding: 10px 0 !important;
}

.backToCareer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.backToCareerIcon {
    font-size: 22px;
    margin-right: 5px;
    color: var(--theme-color);
}

.backToCareer span {
    font-family: var(--Poppins);
    font-size: 14px;
    letter-spacing: 0.2px;
}

.customColumn {
    display: flex;
    justify-content: space-between;
    padding-right: 0 !important;
}

.divDivision {
    padding: 12px 0;
    width: 24%;
}

.formCareerEnquirieSub2 {
    padding: 12px 0;
    width: 50%;
    display: flex;
    align-items: flex-end;
}

.formShowButton,
.formShowButton:hover,
.formShowButton:active,
.formShowButton:focus {
    width: 100%;
    background: var(--theme-color) !important;
}