.containerX {
  background: url(/public/img/background.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.containerY {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.floatingEye {
  position: absolute;
  top: 8px;
  right: 30px;
  font-size: 22px;
  color: #979797;
  cursor: pointer;
}
.formDesign input {
  padding: 12px;
  margin-bottom: 15px;
}
.formDesign h2 {
  font-family: var(--Poppins);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 50px;
  color: #000000;
  margin-top: 20px;
}



.formDesign .signInLink {
  /* background: #932093; */
  width: 100%;
  background: linear-gradient(180deg, #cc40cc 0%, #5f045f 100%);
  border-radius: 5px;
  padding: 12px;
  color: white !important;
  font-size: 20px;
  border: none;
  margin-bottom: 15px;
  margin-top: 30px;
  display: block;
  /* transition: all .4s ease-out; */
}

.formDesign .signInLink:hover {
  /* background: #117C42; */
  background: linear-gradient(180deg, #1eb262 0%, #09592e 100%);
}


.formDesign a {
  font-family: var(--Inter);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #742b77;
  text-decoration: none;
}
.formDesign a:hover {
  color: #742b77;
}

.formText{
  font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #A9A9A9;
    padding-top: 19px;
    padding-bottom: 16px;
}
