@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');


:root {
  --Poppins: "Poppins", sans-serif;
  --Inter: "Inter", sans-serif;
  --Mulish: "Mulish", sans-serif;
  --theme-color: #1C4E80;
  --white-color: white;
  --light-grey-color: #adadad;
  --table-bg: #f2f2f2;
  --border-color: #c5c7cd;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.customModal .modal-dialog {
  top: 10px !important;
}

.themeColor {
  background: var(--theme-color) !important;
}

.reqruiredFields {
  color: red;
}

.countryInputFieldOptions .css-319lph-ValueContainer {
  display: flex;
}

.dataTableRow {
  padding-left: 15px;
}

.dataTableRow1 {
  padding-left: 45px;
}

.dataTableRow .rdt_TableRow:nth-child(even) {
  background: var(--table-bg);
}

.toolTipFormat h6 {
  font-size: 13px;
}

input:disabled {
  background: var(--table-bg) !important;
  cursor: not-allowed;
}

.errorMessage {
  color: red;
  margin: 0 !important;
}

.formShowButton,
.formShowButton:hover,
.formShowButton:active,
.formShowButton:focus {
  width: 100%;
  background: var(--theme-color) !important;
}

.formShowViewButton,
.formShowViewButton:hover,
.formShowViewButton:active,
.formShowViewButton:focus {
  color: var(--theme-color) !important;
  background: transparent !important;
  border: none !important;
  padding-left: 0 !important;
  font-weight: 600 !important;
  cursor: pointer !important;
}

.formShowUserButton,
.formShowUserButton:hover,
.formShowUserButton:active,
.formShowUserButton:focus {
  background: var(--theme-color) !important;
  color: white !important;
  border: none !important;
  width: 135px;
  font-weight: 600 !important;
  cursor: pointer !important;
  height: 38px;
}

.borderUnderLine {
  border: 1px solid rgb(197, 199, 205);
  border-radius: 15px;
  /* box-shadow: 0px 0px 4px rgb(0 0 0 / 25%); */
  padding: 10px 25px;
}



.tabsContent {
  border-bottom: none !important;
  width: 100%;
  margin-bottom: 25px !important;
  padding-left: 45px !important;
}

.anotherTabContent {
  width: 100%;
  margin-bottom: 25px !important;
}

.tabsContent li,
.anotherTabContent li {
  margin: 0 10px 0 0;
}

.tabsContent li button {
  border: 1px solid var(--theme-color) !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  font-family: var(--Poppins);
  color: #333333;
  padding: 10px 0 !important;
}

.anotherTabContent li button {
  border: none !important;
  font-family: var(--Poppins);
  color: #333333;
  padding: 10px 0 !important;
  margin-right: 10px;
}

.anotherTabContent li button.active {
  color: var(--theme-color) !important;
  border: none !important;
  border-bottom: 3px solid var(--theme-color) !important;
  font-family: var(--Inter);
}