@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');


:root {
  --Poppins: "Poppins", sans-serif;
  --Inter: "Inter", sans-serif;
  --Mulish: "Mulish", sans-serif;
  --theme-color: #1C4E80;
  --white-color: white;
  --light-grey-color: #adadad;
  --table-bg: #f2f2f2
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.customModal .modal-dialog {
  top: 10px !important;
}

.themeColor {
  background: var(--theme-color) !important;
}

.reqruiredFields {
  color: red;
}

.countryInputFieldOptions .css-319lph-ValueContainer {
  display: flex;
}

.dataTableRow {
  padding-left: 15px;
}

.dataTableRow .rdt_TableRow:nth-child(odd) {
  background: var(--table-bg);
}

.toolTipFormat h6 {
  font-size: 13px;
}

input:disabled {
  background: var(--table-bg) !important;
  cursor: not-allowed;
}

.errorMessage {
  color: red;
  margin: 0 !important;
}

.formShowButton,
.formShowButton:hover,
.formShowButton:active,
.formShowButton:focus {
  width: 100%;
  background: var(--theme-color) !important;
}

.formShowViewButton,
.formShowViewButton:hover,
.formShowViewButton:active,
.formShowViewButton:focus {
  color: var(--theme-color) !important;
  background: transparent !important;
  border: none !important;
  padding-left: 0 !important;
  font-weight: 600 !important;
  cursor: pointer !important;
}

.formShowUserButton,
.formShowUserButton:hover,
.formShowUserButton:active,
.formShowUserButton:focus {
  background: var(--theme-color) !important;
  color: white !important;
  border: none !important;
  width: 135px;
  font-weight: 600 !important;
  cursor: pointer !important;
  height: 38px;
}